<table>
    <thead>
        <tr>
            <td>#</td>
            <td>email</td>
            <td></td>
            <td>full name</td>
            <dt></dt>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < data.length; i++){ %>
            <tr>
                <td><%=i+1 %></td>
                <td><%=data[i].email %></td>
                <td><%- include('updateUser.ejs', {id : data[i].id}); %></td>
                <td><%=data[i].fullName %></td>
                <td><%- include('deleteUser.ejs', {id : data[i].id}); %></td>
            </tr>
         <%} %> 
    </tbody>
</table>